body {
  position: relative;
  display: grid;
  place-items: center;
  min-height: 50vh;
  background-color: lightpink;
}

@font-face {
  font-family: "TTWanjudaedunsancheB";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/TTWanjudaedunsancheB.woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
}

.main {
  width: 50%;
  height: 90%;
  padding: 30px 40px 10px 40px;
  margin-top: 3em;
  border: 1px solid pink;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  text-align: center;
  background-color: white;
  /* test */
}

#result-title {
  font-family: "TTWanjudaedunsancheB";
  font-size: 50px;
  text-align: center;
}

#result-ex {
  font-family: "TTWanjudaedunsancheB";
  font-size: 25px;
  margin-bottom: 2.5em;
}

#result-img {
  display: flex;
  justify-content: center;
}

#result-share-container {
  margin: 30px;
}

#result-share {
  font-family: "TTWanjudaedunsancheB";
  padding: 1em 2em;
  background-color: lightcoral;
  font-size: 20px;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  border-radius: 15px;
  color: black;
}
