* {
  background-color: lightpink;
  max-height: 100%;
  overflow: hidden;
}

body {
  margin-top: 150px;
  position: relative;
  display: grid;
  place-items: center;
  min-height: 100vh;
}

.main {
  padding: 20px 20px;
  /* border: 1px solid white;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
  text-align: center;
}

.title {
  /* margin-top: 150px; */
  font-size: 65px;
  font-family: "TTWanjudaedunsancheB";
}
.title2 {
  text-align: center;
  font-size: 25px;
  font-family: "TTWanjudaedunsancheB";
}

@font-face {
  font-family: "TTWanjudaedunsancheB";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/TTWanjudaedunsancheB.woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
}

.button-area {
  text-align: center;
  padding: 2em;
  margin-top: 500px;
}

.button-area button {
  padding: 0.5em 1em;
  border-radius: 10px;
  border: 3px solid pink;
  background-color: pink;
  font-size: 50px;
  font-family: Arial;
}

a {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 160px;
  height: 50px;
  line-height: 50px;
  font-size: 20px;
  text-align: center;
  font-family: sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  background: #ccc;
}
a:before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  background: #ff005e;
  color: #fff;
  transition: 0.5s;
  transform-origin: bottom;
  transform: translatey(-100%) rotatex(90deg);
}
a:hover:before {
  transform: translatey(0) rotatex(0deg);
}

a:after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  background: #ea004f;
  color: #fff;
  transition: 0.5s;
  transform-origin: top;
  transform: translatey(0) rotatex(0deg);
}
a:hover:after {
  transform: translatey(100%) rotatex(90deg);
}
